.main-nav-app{
  /* background-color: red; */
  position: absolute;
  right: 0;
  left:0;
  z-index: 1;
  
}

.mobile-compo3{
  text-align: center;
}

@media only screen and (max-width: 600px){
	/*Big smartphones [426px -> 600px]*/
  .compo3-mob{
    margin-left: -20px;
  }
}

/* main_head_09 app.js */
.main_head_09{
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  margin-bottom: 20px;
}